!!!4
%html
  %head
<<<<<<< HEAD
    %title Welcome to the Washing Machine!
=======
    %title Welcome to Laundry Matters!
>>>>>>> 7c63581f99b349f4612c593f96e7a88d3346671b
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    
    %body
      %h1.title Testing the laundromat bullshit
      #main
        - if flash[:notice]
          #notice.message = flash[:notice]
        - elsif flash[:warning]
          #warning.message = flash[:warning]
          
          
        = yield